<template name="header">
    <header>
        <h1 class="center-align">My Todo List!</h1>
    </header>

</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input type="text" placeholder="Add a new task" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="todos">
    <ul class="collection">

        {{#each todoList}}
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
            {{this.name}}
            <div class="secondary-content">
                {{this.createdAt}} {{> completeCheck this}}


                <a class="delete-task"><i class="material-icons">delete</i></a>
                <a class="edit-task"><i class="material-icons">mode edit</i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</template>

<template name="completeCheck">
    {{#unless this.complete}}
    <a class="complete-task"><i class="material-icons">done</i></a> {{else}}
    <a class="incomplete-task"><i class="material-icons">not_interested</i></a> {{/unless}}
</template>